<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
      .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;

        font-size: 16px;
        line-height: 24px;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        color: #555;
      }

      .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
      }

      .invoice-box table td {
        padding: 5px;
        vertical-align: top;
      }

      .invoice-box table tr td:nth-child(2) {
        text-align: right;
      }

      .invoice-box table tr.top table td {
        padding-bottom: 20px;
      }

      .invoice-box table tr.top table td.title {
        font-size: 35px;
        line-height: 25px;
        color: #333;
      }

      .invoice-box table tr.information table td {
        padding-bottom: 40px;
      }

      .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
      }

      .invoice-box table tr.details td {
        padding-bottom: 20px;
      }

      .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
      }

      .invoice-box table tr.item.last td {
        border-bottom: none;
      }

      .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
      }

      @media print {
        .invoice-box {
          max-width: unset;
          box-shadow: none;
          border: 0px;
        }
      }

      @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
          width: 100%;
          display: block;
          text-align: center;
        }

        .invoice-box table tr.information table td {
          width: 100%;
          display: block;
          text-align: center;
        }
      }

      /** RTL **/
      .invoice-box.rtl {
        direction: rtl;
        font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
          sans-serif;
      }

      .invoice-box.rtl table {
        text-align: right;
      }

      .invoice-box.rtl table tr td:nth-child(2) {
        text-align: left;
      }
    </style>
  </head>

  <body>
    <div class="invoice-box">
      <table cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">FGY-Y2J</td>

                <td class="">
                  <span style="font-size: 10px">
                    Invoice #:<%= invoiceNumber %></span
                  ><br />

                  <span style="font-size: 10px">
                    Created:<%= createdDate %></span
                  ><br />

                  <span style="font-size: 10px">
                    Pickup Date:<%= dueDate %></span
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="2">
            <table>
              <tr>
                <td style="font-size: 15px">
                  Name : <%= clientName %><br />
                  Address : <%= clientAddress %><br />
                  Email: <%= clientEmail %>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="heading">
          <td style="font-size: 15px">Payment Method</td>

          <td style="font-size: 15px">Cash on delivery</td>
        </tr>
        <tr class="">
          <td></td>
          <td></td>
        </tr>
        <tr class="">
          <td></td>
          <td></td>
        </tr>

        <tr class="heading">
          <td>Item</td>
          <td>Price</td>
        </tr>

        <% items.forEach(function(item, index) { %>
        <tr class="item <%= index === items.length - 1 ? 'last' : '' %>">
          <td style="font-size: 15px" class="item-name">
            <%= item.name %> x<%= item.quantity %>
          </td>
          <td style="font-size: 15px" class="item-price">
            $<%= item.price.toFixed(2) %>
          </td>
        </tr>
        <% }); %>

        <tr class="total">
          <td></td>

          <td>Total: $<%= total %></td>
        </tr>
      </table>
    </div>
  </body>
</html>
